*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: azure;
}

#root {
  position: relative;
}

.container {
  max-width: 60rem;
  position: absolute;
  /* top: 40%; */
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20vh;
  /* background-color: #ededed; */
  background-color: darkgrey;
  padding: 5rem;
}

.dropdown {
  width: 25rem;
  margin-bottom: 1rem;
  padding: 0.8rem;
  /* border: 1px solid orangered; */
  background-color: rgb(82, 135, 185);
  color: #eee;
  font-weight: 700;
  outline: none;
}

select option {
  /* position: absolute;
    display: block;
    top: 100%; left: 0; right: 0;
    min-width: 100%;
    margin: 15px 0;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0,0,0,.07);
    background: #fff;
    transition: all .4s ease-in-out;
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none; */
}

.attach-text {
  font-size: 1.6rem;
}

.attach-file {
  margin-bottom: 1rem;
}

.upload-btn {
  border-style: none;
  background-color: rgb(42, 113, 180);
  padding: 0.8rem;
  color: #fff;
  cursor: pointer;
  margin-right: 15rem;
}

.upload-btn:disabled {
  cursor: not-allowed;
  background-color: grey;
}

.percentage {
  /* position: absolute;
  right: 0; */
  font-size: 1.6rem;
  font-weight: 800;
}

.message {
  color: red;
  font-size: 1.5rem;
}

input[type="file"] {
  width: 98%;
  height: 180px;
}

label[for="file"] {
  width: 98%;
  height: 180px;
}

.area {
  display: block;
  border: 5px dotted #ccc;
  text-align: center;
}

.area:after {
  display: block;
  border: none;
  white-space: pre;
  content: "Drop your files or folders here!\aOr click to select files folders";
  position: relative;
  left: 0%;
  top: -75px;
  text-align: center;
}

.drag {
  border: 5px dotted green;
  background-color: yellow;
}

#result ul {
  list-style: none;
  margin-top: 20px;
}

#result ul li {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

#result li span {
  font-weight: bold;
  color: navy;
}
