.Input {
  width: 100%;
  padding: 0.5rem 1rem;
}

.Label {
  font-weight: bold;
  font-size: 1.2rem;
  display: block;
  margin-bottom: 0.8rem;
  text-align: left;
}

.Required {
  display: inline-block;
  color: #ff794f;
  margin-left: .4rem;
  font-size: .9rem;
  padding-bottom: 0px;
  position: absolute;
}

.InputEl {
  outline: none;
  border: 1px solid #ccc;
  background-color: #fff;
  font: inherit;
  padding: 0.6rem 1rem;
  display: block;
  width: 100%;
  /* width: 85%; */
}

.InputEl:focus {
  outline: none;
  background-color: #ccc;
}

.Invalid {
  border: 1px solid red;
  background-color: salmon;
}

.Error {
  color: red;
  font-size: 1.2rem;
  display: block;
  text-align: left;
  /* font-weight: 800; */
}
